<h1>What else is out in the Cosmos?</h1>

<% form_for @planet, url: {action: "create"}, html: {class: "new_planet_form"} do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.radio_button :life, "Yes", :value => true %>
<%= f.radio_button :life, "No", :value => false %>
<% end %>
